body{
    width: 1200px;
    padding-left: 25px;
    background-color: #f0ead1;
}
header{
    text-align: center;
}
header img{
    width: 12rem;
}
h5{
    font-family: 'Varela Round', sans-serif;
}
.perfil{
    border: 1px solid #000000;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(224, 250, 255), white);
    box-shadow: 0 0 20px #888;
    border-radius: 5px;
}
span i{
    color: rgb(252, 1, 85);
}